{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

        <div class="col-md-8">
            <img style="max-height: 600px; margin: 10px; " class="img-responsive" src="{{ asset(service.webpath) }}">
            <input type="file"> {{ service.file }} </input>
        </div>

        <div class="col-md-4">
            <input type="text"> {{ service.name }} </input>
            <input type="text"> {{ service.description }} </input>
            <input type="number"> {{ service.price  }} MDL</input>
        </div>

    </div>

{% endblock %}
